// Цвета
//======================================================================================
//======================================================================================

$mainColor: #ffffff;
$secondaryColor: #111;
$accentColor: rgb(255, 0, 0);

//======================================================================================
//======================================================================================
