// Цвета
$mainColor: #ffffff;
$secondaryColor: #000000;
$accentColor: rgb(255, 0, 0);
//======================================================================================
//======================================================================================