//======================================================================================
//======================================================================================
@import "vars";
@import "mixins";

//======================================================================================
//======================================================================================
* {
	box-sizing: border-box;
}
body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Montserrat", serif;
	font-weight: 500;
	font-size: 0.9rem;
}

a {
	color: $secondary-color;
}

.container {
	width: 90%;
	max-width: 1180px;
	margin: 0 auto;
	@media (max-width: 1024px) {
		padding: 0 1rem;
	}
}

//======================================================================================
//======================================================================================

@import "./parts/header";
@import "./parts/footer";

//======================================================================================
//======================================================================================


.search{
	margin-top: 5rem;
	.container{
		padding: 0 0;
	}
	&__form{
		padding: 1rem 0;
		width: 100%;

		form{
			display: flex;
			input{
				width: 100%;
				background: transparent;
				border: none;
				padding: 1rem 2rem;
				border-bottom: 1px solid $secondary-color;
				&:focus{
					outline: none;
					background-color: darken($main-color, 10);
				}
				@media (max-width: 425px) {
					&::placeholder{
						font-size: 0.9rem;
					}
				}
			}
			button{
				width: 200px;
				background: transparent;
				border: 1px solid $secondary-color;
				text-transform: uppercase;
			}
		}
	}
}

.products__title{
	padding: 1rem 0rem !important;
	display: flex;
	h3{
		text-transform: uppercase;
		font-size: 1.8rem;
		padding-left: 0;
		margin-left: 0;
	}
}

.products__grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
	grid-row-gap: 4rem;
	padding-bottom: 5rem;

	.product {
		padding: 0.5rem;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		border-radius: 2px;

		@include shadow(5px, $secondary-color, 0.1);

		&__image {
			width: 100%;
			height: 400px;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
		&__title {
			font-size: 1.3rem;
			padding: 1rem 0;
			a {
				text-decoration: none;
			}
		}
		&__price {
			margin-top: auto;
			font-weight: 700;
			font-size: 1.5rem;
		}
		&__action {
			padding-top: 1rem;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 0.4rem;
			a {
				border: 1px solid $secondary-color;
				color: $secondary-color;
				text-decoration: none;
				font-weight: 600;
				text-align: center;
				padding: 0.5rem 0;
				border-radius: 2px;
			}
		}
	}

	@media (max-width: 1024px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 576px) {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		grid-row-gap: 4rem;
		margin-bottom: 5rem;
	}
}

.why-we {
	margin-bottom: 5rem;
	padding: 5rem 0;
	.container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	
		.why-we__icon {
			display: flex;
			justify-content: center;
			padding-bottom: 1rem;
			img{
				width: 64px;
			}
		}
	
		.why-we__title {
			text-align: center;
			font-size: 1.8rem;
			padding-bottom: 1rem;
		}
	}
}


//======================================================================================
//======================================================================================


.categories {
	padding: 5rem 0;
	.container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;

		@media (max-width: 1280px) {
			grid-template-columns: repeat(3, 1fr );
		}
		@media (max-width: 960px) {
			grid-template-columns: repeat(2, 1fr );
		}
		@media (max-width: 680px) {
			grid-template-columns: repeat(1, 1fr );
		}
	}
}
.category {
	@include shadow(5px, $secondary-color, 0.1);
	border-radius: 2px;
	padding: 0.25rem;
	z-index: 20;
	a{
		display: grid;
		grid-template-columns: 150px 1fr 1fr 1fr;
		grid-gap: 0.5rem;
		text-decoration: none;
		&:hover{
			cursor: pointer;
		}

		@media (max-width: 680px) {
			grid-template-columns: repeat(2, 1fr );
		}
	}

	&__img {
		grid-column: 1/2;
		height: 150px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		grid-column: 2/3;
		align-self: center;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 0.9rem;
	}
}



//======================================================================================
//======================================================================================

footer.footer {
	background-color: $secondary-color;
	color: $main-color;
	a{
		color: $main-color;
	}
	.container {
		display: grid;
        grid-template-columns: repeat(4, 1fr);
		grid-template-areas: 
            "fn fn fn fn" 
            "fs fs fc fc"
            "fp fp fp fp"
			"fa fa fa fa";
        grid-gap: 2rem;
		@media (max-width: 1024px) {
			padding: 1rem 1rem !important;
		}
		@media (max-width: 768px) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
				"fn fn"
				"fs fs"
				"fc fc"
				"fp fp"
				"fa fa";
		}
	}
	.footer__nav {
		grid-area: fn;
		padding: 1rem 0;
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		a{
			margin-right: 2rem;
		}
		@media (max-width: 576px) {
			font-size: 0.6rem;
		}
	}
	.footer__search {
		grid-area: fs;
		form{
			width: 100%;
			display: flex;
			input{
				width: 100%;
				background-color: transparent;
				padding: 0.5rem;
				border: none;
				border-bottom: 1px solid $main-color;
				color: $main-color;
				&:focus{
					outline: none;
					background-color: lighten($secondary-color, 10);
					border-bottom: 1px solid darken($main-color, 60);
				}
			}
			button{
				width: 200px;
				background-color: transparent;
				border: 1px solid $main-color;
				color: $main-color;
				text-transform: uppercase;
				&:hover{
					cursor: pointer;
				}
				@media (max-width: 576px) {
					font-size: 0.6rem;
				}
			}
		}
	}
	.footer__callback {
		grid-area: fc;
		form{
			width: 100%;
			display: flex;
			input{
				width: 100%;
				background-color: transparent;
				padding: 0.5rem;
				border: none;
				border-bottom: 1px solid $main-color;
				color: $main-color;
				&:focus{
					outline: none;
					background-color: lighten($secondary-color, 10);
					border-bottom: 1px solid darken($main-color, 60);
				}
			}
			button{
				width: 200px;
				background-color: transparent;
				border: 1px solid $main-color;
				color: $main-color;
				text-transform: uppercase;
				&:hover{
					cursor: pointer;
				}
				@media (max-width: 576px) {
					font-size: 0.6rem;
				}
			}
		}
	}
	.footer__copyright {
		grid-area: fp;
		text-align: center;
		font-size: 0.8rem;
		color: lighten($secondary-color, 20);
		padding-top: 1rem;
	}
	.footer__author{
		grid-area: fa;
		text-align: center;
		font-size: 0.8rem;
		color: lighten($secondary-color, 20);
		padding-bottom: 1rem;
		a{
			color: lighten($secondary-color, 20);
		}
	}
}
