//======================================================================================
//======================================================================================

.main-page {
	margin-bottom: 4rem;
}
.products {
	&__title {
		font-size: 4rem;
		padding: 4rem 0;
		h3 {
			font-weight: 400;
		}
	}
}
.grid-products {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.product {
	width: calc((100% / 4) - (6rem / 4));
	margin-right: 2rem;
	margin-bottom: 4rem;
	&:nth-child(4n) {
		margin-right: 0;
	}
	&__title {
		padding-top: 1rem;
		font-size: 1.3rem;
		font-weight: 700;
		a {
			text-decoration: none;
			color: $secondaryColor;
		}
	}
	&__price {
		padding: 1rem 0;
		font-size: 1.3rem;
		font-weight: 700;
	}
	&__btn {
		width: 100%;
	}
}
//======================================================================================
//======================================================================================

@media (max-width: 768px) {
	.product {
		width: calc((100% / 3) - (4rem / 3));
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(4n) {
			margin-right: 2rem;
		}
	}
}

@media (max-width: 680px) {
	.product {
		width: calc((100% / 2) - (2rem / 2));
		&:nth-child(1n) {
			margin-right: 2rem;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

@media (max-width: 425px) {
	.products__title{
		font-size: 2.3rem;
	}
	.product {
		&__title {
			font-size: 1rem;
		}
	}
}
